



@font-face {
    font-family: 'centumaregular';
    src: url('https://rawgit.com/nathpugs/eurostile/master/Centuma/centuma-regular-webfont.woff2') format('woff2'),
         url('https://rawgit.com/nathpugs/eurostile/master/Centuma/centuma-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}