@font-face {
    font-family: 'postersansbold';
    src: url('https://rawcdn.githack.com/nathpugs/eurostile/777c0da0a8697cf74deec1bd291254bbd852183e/Poster_Sans_Bold/poster_sans_bold-webfont.woff2') format('woff2'),
         url('phttps://rawcdn.githack.com/nathpugs/eurostile/777c0da0a8697cf74deec1bd291254bbd852183e/Poster_Sans_Bold/poster_sans_bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: bold;

}
